/**
 * Fonts
*/
/* Roboto regular */

@font-face {
     font-family: "Roboto";
     src: url("/fonts/Roboto-Regular.eot");
     src: url("/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
          url("/fonts/Roboto-Regular.woff2") format('woff2'),
          url("/fonts/Roboto-Regular.woff") format('woff'),
          url("/fonts/Roboto-Regular.ttf") format('truetype');
     font-weight: 400;
     font-style: normal;
 }
 
 /* Roboto italic */
 
 @font-face {
     font-family: "Roboto";
     src: url('/fonts/Roboto-Italic.eot');
     src: url('/fonts/Roboto-Italic.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Roboto-Italic.woff2') format('woff2'),
          url('/fonts/Roboto-Italic.woff') format('woff'),
          url('/fonts/Roboto-Italic.ttf') format('truetype');
     font-weight: 400;
     font-style: italic;
 }
 
 /* Roboto bold */
 
 @font-face {
     font-family: "Roboto";
     src: url('/fonts/Roboto-Bold.eot');
     src: url('/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
          url('/fonts/Roboto-Bold.woff2') format('woff2'),
          url('/fonts/Roboto-Bold.woff') format('woff'),
          url('/fonts/Roboto-Bold.ttf') format('truetype');
     font-weight: 700;
     font-style: normal;
 }